
* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	font-family: 'Open-Sans',sans-serif;
}

.svg {
	margin: 0 40px;
}

.grid .tick {
	stroke: lightgrey;
	opacity: 0.3;
	shape-rendering: crispEdges;
}

.grid path {
	stroke-width: 0;
}

#tooltip {
	position: absolute;
	margin-left: -80px;
	padding: 14px;
	display: none;
	color: white;
	background: #FA283D;
	font-size: 11px;
}

.INPR {
	fill: #3a2d2f;
}

.INAN {
	fill: #f44141;
}

.INTH {
	fill: #41f4af;
}

.RECA {
	fill: #41a6f4;
}

.REC1 {
	fill: #c141f4;
}

.REC2 {
	fill: #f4418b;
}