
* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	font-family: 'Open-Sans',sans-serif;
}

.svg {
	margin: 40px;
}

.title {
	font-size: 18px;
	color: #009FFC;
	text-align: center;
}

.filter-wrap {
	margin-top: 10px;
	margin-bottom: 30px;
}

.group-filter {
	width: 200px;
}

.grid .tick {
	stroke: lightgrey;
	opacity: 0.3;
	shape-rendering: crispEdges;
}

.grid path {
	stroke-width: 0;
}

.axis {
	font-size: 10px;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.brush {
	pointer-events: none !important;
}

.brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
	pointer-events: all;
}

g.brush > .resize {
	display: none;
}

#tooltip {
	position: absolute;
	margin-left: -80px;
	padding: 14px;
	display: none;
	font-size: 11px;
}

.INPR {
	fill: #89847e;
	background-color: #89847e;
	color: #000;
}

.INAN {
	fill: #f44141;
	background-color: #f44141;
	color: #fff;
}

.INTH {
	fill: #41f4af;
	background-color: #41f4af;
	color: #000;
}

.RECA {
	fill: #41a6f4;
	background-color: #41a6f4;
	color: #fff;
}

.REC1 {
	fill: #c141f4;
	background-color: #c141f4;
	color: #fff;
}

.REC2 {
	fill: #f4418b;
	background-color: #f4418b;
	color: #fff;
}

.operation-tooltip {
	background-color: #f4dfdc;
	color: #000;
}

.select2 {
	margin-right: 20px;
}

.room-filter {
	display: inline-block;
	padding: 10px 20px;
	font-size: 10px;
	text-decoration: none;
}